

.post-wrapper {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(250, 249, 253);
    padding: 2%;
}

.accordion-button {
    padding: 5px 10px 5px 10px;
}

.card {
    width: 48%;
    margin: 1%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(209, 207, 218);
}

